@font-face{
  font-family:P-Light;
  src: url('https://eshsrtiranga.github.io/fonts/Poppins-Light.woff') format('woff');
}

body{
  font-family: P-Light;
}


:root{
    /* --bgcolour: rgba(38, 9, 4, 0.476); */
    --bgcolour: #361106;
    --textcolour: rgb(255, 237, 215);
    --coloronhover: rgb(255, 237, 215);
}

/* #region SIDEBAR DESIGN */
.sidebar {
    font-family: P-Light,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    overflow: hidden;
    z-index: 99;
    transition: all 0.5s ease;
  }
  
  .sidebar.open {
    width: 250px;
    background: var(--bgcolour);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 2);
  }
  
  .sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .sidebar .logo-details .logo_name {
    color: var(--textcolour);
    margin-left: 21px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name {
    opacity: 1;
  }
  
  .sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
  }
  
  .sidebar i {
    color: rgba(255, 255, 255, 0);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  
  .sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
  }
  
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  
  .sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  
  .sidebar.open li a:hover {
    background: var(--coloronhover);
  }
  
  .sidebar li a .links_name {
    color: var(--textcolour);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  
  .sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar.open li a:hover .links_name,
  .sidebar.open li a:hover i {
    transition: all 0.5s ease;
    color: #361106;
  }
  
  .sidebar.open li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  
  .sidebar.open ~ .home-section {
    left: 350px;
    width: calc(100% - 250px);
  }
  
  .sidebar.open i {
    color: var(--textcolour);
  }
  
  /* Ipads */
  @media (max-width: 1450px) {
    .sidebar .logo-details #btn {
      font-size: 35px;
    }
  
    .sidebar.open li i {
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      border-radius: 12px;
    }
  
    .sidebar li a .links_name {
      font-size: 20px;
    }
  
    .sidebar li {
      position: relative;
      margin: 14px 0;
      list-style: none;
    }
  
    .sidebar .logo-details .logo_name {
      font-size: 24px;
      margin-top: 10px;
    }
  }
  
  /* Phone */
  @media (max-width: 750px) {
    .sidebar {
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      width: 78px;
      padding: 6px 14px;
      z-index: 99;
      transition: all 0.5s ease;
    }
  
    .sidebar.open {
      width: 250px;
      background: var(--bgcolour);
    }
  
    .sidebar .logo-details {
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
    }
  
    .sidebar .logo-details .icon {
      opacity: 0;
      transition: all 0.5s ease;
    }
  
    .sidebar .logo-details .logo_name {
      color: var(--textcolour);
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease;
    }
  
    .sidebar.open .logo-details .icon,
    .sidebar.open .logo-details .logo_name {
      opacity: 1;
    }
  
    .sidebar .logo-details #btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: all 0.4s ease;
      font-size: 23px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
      color: white;
    }
  
    .sidebar i {
      color: rgba(255, 255, 255, 0);
      height: 60px;
      min-width: 50px;
      font-size: 28px;
      text-align: center;
      line-height: 60px;
    }
  
    .sidebar .nav-list {
      margin-top: 20px;
      height: 100%;
    }
  
    .sidebar li {
      position: relative;
      margin: 8px 0;
      list-style: none;
    }
  
    .sidebar li a {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
    }
  
    .sidebar.open li a:hover {
      background: var(--coloronhover);
    }
  
    .sidebar li a .links_name {
      color: var(--textcolour);
      font-size: 15px;
      font-weight: 400;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: 0.4s;
    }
  
    .sidebar.open li a .links_name {
      opacity: 1;
      pointer-events: auto;
    }
  
    .sidebar.open li a:hover .links_name,
    .sidebar.open li a:hover i {
      transition: all 0.5s ease;
      color: var(--textcolour);
    }
  
    .sidebar.open li i {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-radius: 12px;
    }
  
    .sidebar.open ~ .home-section {
      left: 350px;
      width: calc(100% - 250px);
    }
  
    .sidebar.open i {
      color: var(--textcolour);
    }
  }
  
  /* #endregion  */
  /* #region FOOTER DESIGN */
  .footer {
    background: var(--bgcolour);
    font-family: P-Light;
    width: 100%;
    height: 13vh;
    text-align: center;
    color: rgb(255, 237, 215);
    margin-top: 100px;
  }
  
  .footer h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 17px;
    margin-top: .5%;
    font-weight: 600;
    color: rgb(255, 237, 215);
  }
  
  .footer p {
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    padding: 10px;
  }
  
  .footer a {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(0, 0, 0);
  }
  
  .bx {
    margin: 0 15px;
    color: rgb(255, 237, 215);
    cursor: pointer;
    padding: 2px 0;
    font-size: 30px;
  }
  
  @media (max-width: 700px) {
    .footer {
      margin-top: 100px;
    }
  
    .footer h4 {
      font-size: 15px;
    }
  
    .bx {
      font-size: 20px;
    }
  }

  .transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
   
 .container{

     margin:0;
     padding: 2vw;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     box-sizing: border-box;
     box-shadow:10px 5px 5px 1px rgb(1, 173, 136) ;
 }
      .launchtimer{
         display:flex;
         justify-content: center;
         ;
      }
      .launchtimer span{
         flex-basis: 100px;
 
         flex-direction: row;
         justify-content: right;
         color:white;
         margin-left: 2vw;
         padding:2vw;
      }
      .launchtimer div h1{
         font-size: 60px;
         margin-bottom: 20;
         color:white;
         padding: 2vw;
         margin-left: 2vw;
 
      }
 
  /* #endregion */
  /* #endregion */