@font-face{
    font-family:P-Light;
    src: url('https://eshsrtiranga.github.io/fonts/Poppins-Light.woff') format('woff');
  }


@keyframes fadeIn {
            0% {opacity: 0;}
            from{

            	transform: translateY(100px);

            }

            to{

            	transform: translateY(0px);

            }
            100% {opacity: 1;}
         }

	.page {

			background-repeat:no-repeat;
			background-size:cover;
			background-image: url("https://eshsrtiranga.github.io/Resources/Images/image1.jpg");
		}


body{
	user-select:none;
    font-family: P-Light;
	color:white;
    background-color: black;
	background-attachment: fixed;
}

input{
    border:1px solid white;
}

	
	.centre{
		border-radius:100px;
		margin-left: 30%;
		margin-right: 30%;
		width:35%;
		margin-bottom: 200px;
		display: inline-block;
		text-align: center;
		margin-top: 50px;
		align-items: center;
		flex-direction: column;
		background: rgba(26, 26, 26, 0.97);
		box-shadow: 0 0 10px rgba(0, 0, 0, 2);
		animation: fadeIn 3.5s;


	}

	.logo{

		height: 100px;
		width: 100px;
		margin-top: 25px;
		animation: fadeIn 2.5s;

	}

	.number{

		height: 20px;
		width: 200px;
		margin-top: 20px;
		margin-left: 60px;
		margin-right: 60px;
		margin-bottom: 10px;
		width: 200px;
		outline: none;
		border-radius: 40px;
		background: transparent;
		padding: 10px;
		font-size: 13px;
		color: white;
		animation: fadeIn 1s;

	}

	.submitbutton{
		margin-top: 30px;
        margin-bottom: 45px;
        padding: 10px;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 100px;
        color: #1A1A1A;
        background-color: white;
        animation: fadeIn 0.5s;
        transition: color 1s, background-color 1s;
        transition: all 0.5s;
	}

	.submitbutton:hover{
		color: white;
		background-color: #1A1A1A;
		border:1px solid white;
		cursor: pointer;
	}

	.submitbutton:active{
		opacity: 0.6;
	}

	.School{
		display: inline;
		width: 200px;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 60px;
		margin-right: 60px;
		width: 200px;
		outline: none;
		border-radius: 40px;
		background: transparent;
		padding: 10px;
		font-size: 13px;
		color: white;
		animation: fadeIn 1.5s;
	}

		.Event{
		display: inline;
		width: 200px;
		margin-top: 20px;
		margin-left: 60px;
		margin-right: 60px;
		width: 200px;
		outline: none;
		border-radius: 40px;
		background: transparent;
		padding: 10px;
		font-size: 13px;
		color: indianred;
		animation: fadeIn 1.5s;
	}

		.Address{
		width: 200px;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 60px;
		margin-right: 60px;
		width: 200px;
		outline: none;
		border-radius: 40px;
		background: transparent;
		padding: 10px;
		font-size: 13px;
		color: white;
		animation: fadeIn 1.5s;
	}

	.name{
		color: white;
		font-family: P-Light;
		animation: fadeIn 1.4;
	}


	  .dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
    transition: all 0.4s;
  }

  .dropbtn {
    width: 100px;
    height: 40px;
	padding:10px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
	background: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  .dropdown-content {
    display: none;
    border-radius:10px ;
    background-color: #1A1A1A;
    text-align:left;
    padding: 20px;
    color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.4s;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
	color:#1A1A1A;
  }

label{
	margin-top: 20px;
    font-size: 20px;
    color:white;
}

.textInput{
    margin-bottom: 10px;
    color:white;
    border:1px solid white;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

select{
    outline: none;
    border-radius: 5px;
    width:100px;
    height:30px;
    border: 0px;
    background-color: white;
}